* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#subnav {
  margin-left: 30px;
  margin-top: 40px;
}
#subnav li {
  display: inline;
  padding-right: 10px;
}
#subnav a {
  text-decoration: none;
  background-color: rgb(53 125 147);
  color: white;
  padding: 5px;
}
#subnav a:hover {
  background-color: rgb(219, 150, 21);
}

#content > h1 {
  /* border: 1px solid black; */
  text-align: center;
  font-size: 50px;
}

#content > p {
  /* border: 1px solid black; */
  margin-top: 30px;
  margin-left: 250px;
  margin-right: 250px;
  text-align: left;
  font-size: 20px;
  line-height: 40px;
}
table,
th,
td {
  border: 3px solid rgb(6, 156, 182);
}
#table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 80px;
  border-collapse: collapse;
  font-size: 19px;
}

th {
  height: 50px;
}
td {
  width: 270px;
  height: 220px;
  vertical-align: text-top;
}
td > ul > li {
  /* border: 1px solid black; */
  list-style-position: inside;
  padding: 6px;
}
